.leftPanel {
    background-color: white;
    width:600px;
    height:640px;
    border-width: 1px;    
    border-color: gray !important;
    border: 2px solid ;
}

#btnGo {
    border-radius: 30px;
    border: none;
}

